<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>HEY <%= @user.name %>!</h1>
    <p>You're in danger of breaking your streak for your <%= @goal.title %></p>
    <p>HURRY UP AND GET COMMITTEN!</p>
  </body>
</html>
